body,select,div,ul{
    		margin: 0px;
    		padding: 0px;
}
body{
    background: #F6F9FA;
}
select{
    position: absolute;
    right:0px;
    bottom:10px;
    z-index: 10;
}
#player{
    position: absolute;
    left: 0px;
    width:79%;
    height: 100%;
}
#video{
    position: absolute;
    right: 0px;
    width:20%;
    height: 100%;

}
#list{
    list-style: none;
    width: 100%;
	height: 100%;
	position: absolute;
	bottom:10px;
	right: 10px;
	overflow-x:hidden;
	overflow-y:auto;
}
#list li{
    margin: 10px 20px;
}
.active{
    color: #F9AE57;
}