<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>抖音专辑</title>
	<style type="text/css">
		body,nav{
			margin: 0px;
			padding: 0px;
		}
		/*body{
			background: #ccc;
		}*/
		li{
			width: 40%;
			padding: 10px 0px;
			border-bottom: 1px solid #ccc;
		}
		a{
			text-decoration: none;
		}
		a:hover{
			text-decoration:underline;
		}

	</style>
</head>
<body>
	<nav>
		<ol id="list">
			<li><a style="color:red" href="/Douyin/Content/Douyin/template" title="抖音专辑" target="_blank">抖音专辑</a></li>
			<li><a style="color:red" href="/Douyin/Content/Douyin/糖糖" title="糖糖" target="_blank">糖糖</a></li>
			<li><a style="color:red" href="/Douyin/Content/Douyin/饭思思" title="饭思思" target="_blank">饭思思</a></li>
			<li><a style="color:red" href="/Douyin/Content/Douyin/道叔" title="道叔" target="_blank">道叔</a></li>
			<li><a style="color:red" href="/Douyin/Content/Douyin/点石数码" title="点石数码" target="_blank">点石数码</a></li>
			<li><a style="color:red" href="/Douyin/Content/Douyin/抖音英文" title="抖音英文" target="_blank">抖音英文</a></li>
			<li><a style="color:red" href="/Douyin/Content/Douyin/非遗皮影" title="非遗皮影" target="_blank">非遗皮影</a></li>
			<li><a style="color:red" href="/Douyin/Content/Douyin/锋轮" title="锋轮" target="_blank">锋轮</a></li>
			<li><a style="color:red" href="/Douyin/Content/Douyin/佛" title="佛" target="_blank">佛</a></li>
			<li><a style="color:red" href="/Douyin/Content/Douyin/歌单" title="歌单" target="_blank">歌单</a></li>
			<li><a style="color:red" href="/Douyin/Content/Douyin/国风" title="国风" target="_blank">国风</a></li>
			<li><a style="color:red" href="/Douyin/Content/Douyin/全景音乐旅行" title="全景音乐旅行" target="_blank">全景音乐旅行</a></li>
			<li><a style="color:red" href="/Douyin/Content/Douyin/雲清" title="雲清" target="_blank">雲清</a></li>
	</nav>
</body>
</html>